* 
{ 
	margin: 0px;
	padding: 0px;
	border: 0px
}

body
{
	padding: 0;
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-seri
}

h1
{
	color: snow ! important;
	text-align: center;
}

#container
{
	width: 100%;
	margin: 0 auto
	border: 1px solid #999
}

#header {
background-image: url(../image/Bar/header.png);
width: 100%;
height: 105px
} 

#nav {
color: #f00;
font-size: 80%;
font-weight: bold;
line-height: 1.8em;
text-align: center;
}
#nav ul {
list-style-type: none;
}
#nav li {
display: inline;
margin: 0 8px
}
#nav li a {
color: #000000;
}
#nav li a:hover {
color: #f00;
}
a {
text-decoration: none;
}

.imgwiki {
width: auto;
height: auto;
margin: 0px 50px 20px;
float: left;
} 
.imgcupbar{
width: auto;
height: auto;
margin: -20px 100px;
float: right;
} 
.imgmugbar{
width: 75px;
height: 75px;
margin: -13px -100px;
float: right;
}
.imgback{
	width: 100%;
	margin: -3px 0 0 0;
	float: bottom;
}

#footer {
background: #0066CC;
color: #fff;
font-size: 70%;
padding: 5px;
clear: both;
}
#footer a {
color: #ff0;
}
#footer a:hover {
color: #f00;
}
#footer p {
padding: 2px;
text-align: center;
}
.clearfloat {
clear: both;
} 
